@use 'utility' as *;

body {
    margin: 0;
    font-family: $main-font;
}

header {
    text-align: center;
    padding: 40px 0;

    h1 {
        font-size: $font-xl;
    }
}

main {
    @include amargin(0, 100px);
    width: $content-width;
    display: flex;
    flex-direction: column;
}

aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $transparent-gray;

    &.opened {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

h2 {
    font-size: $font-l;
    margin: 0;
}

label, h3 {
    font-size: $font-m;
    font-weight: 400;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin-bottom: 30px;

    &::-webkit-slider-thumb {
        @include thumb();
    }

    &::-moz-range-thumb {
        @include thumb();
    }

    &::-webkit-slider-runnable-track {
        @include track();
    }

    &::-moz-range-track {
        @include track();
    }
}

.hidden {
    display: none;
}

button {
    @include border();
    font-family: $main-font;
    font-size: $font-m;
    padding: 5px;
    cursor: pointer;
    
    &:hover, &:focus {
        filter: $hover-filter;
    }

    &:active {
        filter: $click-filter;
    }
}

canvas {
    border: 1px solid black;
}