@use 'utility' as *;

body {
    margin: 0;
    font-family: $main-font;
}

header {
    text-align: center;
    padding: 40px 0;

    h1 {
        font-size: $font-xl;
    }
}

main {
    @include amargin(0, 100px);
    width: $content-width;
    display: flex;
    flex-direction: column;
}

label, h3 {
    font-size: $font-m;
    font-weight: 400;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin-bottom: 30px;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-thumb {
        @include thumb();
    }

    &::-moz-range-thumb {
        @include thumb();
    }

    &::-webkit-slider-runnable-track {
        @include track();
    }

    &::-moz-range-track {
        @include track();
    }
}

button {
    @include border();
    font-family: $main-font;
    font-size: $font-m;
    padding: 5px;
    
    &:hover, &:focus {
        filter: $hover-filter;
    }

    &:active {
        filter: $click-filter;
    }
}

canvas {
    border: 1px solid black;
}