//Color
$border-gray: #414141;

//filter
$hover-filter: brightness(95%);
$click-filter: brightness(70%);
//Font
$main-font: 'Courier New', Courier, monospace;
$font-xs: 12px;
$font-s: 16px;
$font-m: 20px;
$font-l: 32px;
$font-xl: 48px;

//Margin and Padding
@mixin amargin($mtb: 0) {
    margin: $mtb auto;
}
//Dimensions
$content-width: 800px;

//Misc
@mixin border($r: 10px) {
    border: 1px solid $border-gray;
    border-radius: $r;
}