@use 'base';
@use 'utility' as *;

.row {
    display: flex;
    justify-self: stretch;
    width: 100%;
}

.control-panel {
    @include border();
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    padding: 20px 30px;
    margin: 10px;

    > * {
        margin: 5px 0;
    }

    &.oscilloscope {
        flex-grow: 0;
    }
}