@use '_variables.scss';
@use 'synth.scss';

body {
  font: variables.$font-stack;
  background-color: variables.$background-color;
}

.page-header-container {
  text-align: center;
  .page-header {
    width: 100%;
  }
}


