@use "_variables.scss";
@use "synth-controls.scss";

.controller-container {
  background-color: variables.$synth-background-color;
  width: 1000px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  @include variables.border;

  .controller-header {
    height: auto;
    width: auto;
    background: #605050;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid variables.$border-color;
  }

  .controller-body {
    height: auto;
    width: auto;
  }
}
