@use '_variables.scss';

.midi-device-dropdown {
  width: 160px;
}
.dropdown-icon {
  transform: rotate(45deg);
  display: inline-block;
  padding: 3px;
  border: solid black;
  border-width: 0px 3px 3px 0px;
  //border-right: 2px solid black;
  //border-bottom: 2px solid black;
}
.midi-device-dropdown-button {
  width: 200px;
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  background-color: #107070;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 50px;

  &:hover {
    background-color: #0a6a6a;
  }
}

.button-open {
  border-radius: 5px 5px 0px 0px;
}

.midi-device-dropdown-content {
  display: none;
  //transition: opacity 0.5s ease-in-out;
  width: 200px;
  height: auto;
  background-color: #B0B0B0;
  padding-bottom: 5px;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  .midi-device-selector {
    width: 100%;
    display: block;
    background-color: #B0B0B0;
    border: none;
    border-bottom: 1px solid #204040;

    &.selected,
    &:hover {
      background-color: #a0a0a0;
    }
  }
}

.dropdown-open {
  display: block;
}

.control-slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 10px;
  background: #202020;
  @include variables.border($radius: 0);


  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 30px;
    background: #107070;
    border: 1px solid #034040;
    &:hover {
      background: #0a6a6a;
    }
  }
}
.vertical {
  -webkit-transform: rotate(-90deg) translate(-70px, -30px);
}


.volume-slider-container {
  display: inline-block;
  margin: auto;
  width:auto;
 .volume-text {
    display: inline;
    margin: 0;
  }

  #volume-slider {
    display: block;
    position: relative;
    top: 2px;
    width: 200px;
    margin-top: 15px;

  }
  #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
  }

  #volume-value {
    display: inline;
  }
}

.control-box {
  padding: 10px;
  height: 250px;
  margin: 1px;
  @include variables.border($radius: 10px);

  .slider-container {
    width: 40px;
    .slider-text {
      margin:0;
      text-align: center;
    }

    .slider-ticks {
      display: inline-block;
      height: 130px;
      width: 30px;
      position: relative;
    }

    .wave-icon {
      margin: 1px;
    }
  }

  .control-box-maintext {
    display: block;
    text-align: center;
    position: relative;
    top: 150px;
    font-weight: 600;
  }


}

#amp-envelope-generator {
  width: 300px;
}
#filter-envelope-generator {
  width: 300px;
}

#wave-generator {
  width: 100px;
}

#wave-slider {
  position: relative;
  right: 10px;
}

#wave-ticks {
  left: 45px;
}
